/* MOVIL */
@media screen and (min-width:320px) and (max-width:430px){
    *{
        font-size: 45px;
    }
    body{
        grid-template-areas: 
        "header header"
        "main"
        "section" 
        "footer"
        ;
    }
    header{
        font-size: 40px;
    }
    nav{
        height: 150px;
        align-items: center;
        margin: auto;
        background-color: #c2caffea;
        
    }
    .navbar-collapse{
        background-color: #c2caffea;
    }
    header{
        div{
            align-content: center;
            justify-content: center;
            img{
                width: 100px;
                height: 70px;
                float: left;
                padding: 8px;
                align-items: center;
                justify-self: center;
                
            }
        }
    }
    
    main{                              
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-area: main;
        display:flex;
    
        .catalogo{
            display: flex;
            flex-direction: column;
        }
        section{
            grid-template-columns: 1fr;    
        }
        .fondo{
            font-size: 70px;
        }
        .caja1{
            width: 400px;
            height: 700px;
            p{
                font-size: 50px;
            }

        }
    }
    .fondo{
        display: flex;
        font-size: 50px;
        padding: 40px;
        height: 200px;
        width: 100%;
    }
    .Subir{
        font-size: 60px;
    }
    footer{
        height: 300px;
        display: flex;
        flex-direction: flex-end;
        p{
            font-size: 60px;
        }
        .redes4 {
            margin: 10px;
            height: 70px;
            width: 70px;
            /* display: flex;
            justify-content: center;
            */
        }
        .redes5 {
            margin: 10px;
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: center;
            
        }
        .redes6 {
            margin: 10px;
            height: 70px;
            width: 70px;
            display: flex;
            justify-content: flex-end;
            
        }
    }
    
}
